apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
resources:
  - namespace.yaml
  - https://github.com/cert-manager/cert-manager/releases/download/v1.16.2/cert-manager.yaml
  - cluster-issuer.yaml
