apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: lingua-app
resources:
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
  - pdb.yaml
  - networkpolicy.yaml
  - servicemonitor.yaml
  # Uncomment after generating with kubeseal
  # - sealed-secret.yaml